.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas{
  color: black;
  border: solid #282c34 2px;
  background-color: white;
  height: 500px;
  display:block;
}

table, tr, td{
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 22px;
  /*border: 1px solid black;
  border-collapse: collapse;*/
}


.tableR{
  text-align: center;
  background: green;
  padding-left: 0;
  padding-right: 0;
  color: #f0f0f0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
.tableA{
  text-align: center;
  background: crimson;
  padding-left: 0;
  padding-right: 0;
  color: #f0f0f0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
.tableS{
  text-align: center;
  background: darkorchid;
  padding-left: 0;
  padding-right: 0;
  color: #f0f0f0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
.tableC{
  text-align: center;
  background: royalblue;
  padding-left: 0;
  padding-right: 0;
  color: #f0f0f0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
.tableI{
  text-align: center;
  background: goldenrod;
  padding-left: 0;
  padding-right: 0;
  color: #f0f0f0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
.table-{
  background: gray;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  color: #f0f0f0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
.tableTask{
  font-style: normal;
  font-size: 20px;
  padding: 0.5em 1em;
}
.tableRole{
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.draggingListItem{
  background: rgb(210, 210, 210);
}
